<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-lenddo" version="1.5.1">
    <name>Lenddo</name>
    <description>Cordova Lenddo Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,lenddo</keywords>
    <js-module src="www/lenddo.js" name="lenddo">
        <clobbers target="window.Lenddo" />
    </js-module>
    <platform name="android" kotlin="1.2.51">
        <config-file target="config.xml" parent="/*">
            <feature name="Lenddo">
                <param name="android-package" value="org.apache.cordova.plugin.Lenddo"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
        <source-file src="src/android/Lenddo.java" target-dir="src/org/apache/cordova/plugin" />
        <apply-plugin>kotlin-android-extension</apply-plugin>
        <apply-plugin>kotlin-apt</apply-plugin>
    </platform>
    <framework src="lenddosdk" custom="true" />
</plugin>
